.login-button-container {
  position: absolute;
  top: 20px;
  left: 20px; 
}

.home-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #f4f4f4;
  width: 90%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  align-items: center;
  box-shadow: 4px 4px 8px -3px rgba(34, 60, 80, 0.2);
  border-radius: 20px;
  padding: 64px 16px 64px 16px;
}

.home-image
{
  display: flex;
  justify-content: center;
}

.home-image img{
  width: 80%;
  height: auto;
  border-radius: 20px;
}

.home-text {
  text-align: left;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
}

.home-text h1{
  color: #333;
}

.home-text p {
  color: #555; /* Цвет текста */
}

@media (max-width: 700px)
{
  .home-content
  {
    display: block;
    height: auto;
    text-align: center;
    font-size: small;
  }
  .home-content .home-image{
    display: none;
  }
}
