.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: #f4f4f4; /* Светлый фон для всего приложения */
  position: relative; /* Для абсолютного позиционирования кнопки */
}

.login-button-container {
  position: absolute; /* Позволяет позиционировать кнопку относительно родительского контейнера */
  top: 20px; /* Отступ сверху */
  left: 20px; /* Отступ слева */
}

.home-content {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.home-image {
  /* Пример стиля для изображения */
  width: 150px;
  height: 150px;
  background-color: #ccc; /* Замените на фоновое изображение */
  border-radius: 75px; /* Круглая форма */
  margin-right: 20px;
}

.home-text {
  text-align: left;
}

h1 {
  color: #333; /* Цвет заголовка */
}

p {
  color: #555; /* Цвет текста */
}
