/* styles/ReportPage.css */

.report-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Задаем высоту для центрирования */
    background-color: #f9f9f9; /* Светлый фон для страницы */
}

.report-form {
    background-color: #ffffff; /* Белый фон для формы */
    padding: 30px; /* Увеличенный отступ */
    border-radius: 8px; /* Скругленные углы */
    box-shadow: 0 2px 12px rgba(0, 0, 0, 0.1); /* Легкая тень */
    width: 600px; /* Ширина формы */
    display: flex;
    flex-direction: column;
}

.report-form h2 {
    margin-bottom: 20px; /* Отступ снизу для заголовка */
    text-align: center; /* Центрируем заголовок */
    font-size: 1.5em; /* Увеличиваем размер шрифта */
    color: #333; /* Цвет заголовка */
}

.date-picker-container {
    display: flex; /* Используем flex для горизонтального расположения */
    justify-content: space-between; /* Пробел между элементами */
    margin-bottom: 20px; /* Отступ снизу для контейнера с датами */
}

.date-picker-item {
    flex: 1; /* Каждый элемент занимает равную ширину */
    margin-right: 10px; /* Отступ справа для всех элементов, кроме последнего */
}

.date-picker-item:last-child {
    margin-right: 0; /* Убираем отступ для последнего элемента */ 
}

.date-picker {
    width: 100%; /* Ширина поля ввода на 100% */
    padding: 10px; /* Отступ внутри поля */
    border: 1px solid #ccc; /* Граница поля */
    border-radius: 5px; /* Скругленные углы */
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1); /* Легкая тень */
    font-size: 1em; /* Размер шрифта */
}

button[type="submit"] {
    background-color: #007bff; /* Цвет кнопки */
    width: 100%;
    margin-top: 10px; /* Отступ сверху */
    color: white; /* Цвет текста кнопки */
    padding: 12px; /* Увеличенные отступы внутри кнопки */
    border: none; /* Убираем границу */
    border-radius: 5px; /* Скругленные углы */
    cursor: pointer; /* Указатель при наведении */
    transition: background-color 0.3s; /* Плавный переход цвета */
    font-size: 1em; /* Размер шрифта */
}

button[type="submit"]:hover {
    background-color: #0056b3; /* Цвет кнопки при наведении */
}

.report-results {
    margin-top: 20px; /* Отступ сверху для результатов отчета */
    padding: 20px; /* Отступ внутри блока результатов */
    background-color: #ffffff; /* Белый фон для результатов */
    border-radius: 8px; /* Скругленные углы */
    box-shadow: 0 2px 12px rgba(0, 0, 0, 0.1); /* Легкая тень */
}

.report-results h3 {
    text-align: center; /* Центрируем заголовок отчета */
    color: #333; /* Цвет заголовка */
}

.report-results h4 {
    margin-top: 10px; /* Отступ сверху для заголовка вопросов */
    color: #555; /* Цвет заголовка вопросов */
}
