.user-greeting {
    position: absolute;
    display: flex;
    column-gap: 8px;
    top: 20px;
    right: 20px;
    align-items: center;
}

.greeting-message {
    font-size: 16px;
}

.logout-button {
    background-color: #007bff; 
    color: white; 
    padding: 10px 20px; 
    border: none; 
    border-radius: 4px; 
    font-size: 16px; 
    cursor: pointer; 
    transition: background-color 0.3s;
    text-align: center; 
}

.logout-button:hover {
    background-color: #0056b3;
}

.logout-button:focus {
    outline: none;
}

.logout-button:disabled {
    background-color: #ccc;
    cursor: not-allowed; 
}


